version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout 
      - run: |
         echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t julianspiess/syersy-web ../app
      - run: docker run julianspiess/syersy-web npm run test
  deploy:
    machine:
      image: ubuntu-1604:202007-01
    working_directory: ~/syersy-web
    environment:
      HASH: $(git rev-parse HEAD)
    steps:
      - run: bash ../deploy.sh

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: release