
/* Pie de página */

/*--------------------------------------------------------------
# Root
--------------------------------------------------------------*/

:root{
  --primary-color: #333;
  --primary-color-opacity: #111;
  --secondary-color: #FFFFFF;
  --secondary-color-opacity: rgba(246,246,246,0.64);
  --main-color: #18d26e;
  --tertiary-color: black;
  --tertiary-color-transparent: rgba(0, 0, 0, 0.88);
}


.footer{
  background: var(--primary-color);
  background: -moz-linear-gradient(top, var(--primary-color) 0%, var(--secondary-color-opacity) 53%, var(--secondary-color) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, var(--primary-color)), color-stop(53%, var(--secondary-color-opacity)), color-stop(100%, var(--secondary-color)));
  background: -webkit-linear-gradient(top, var(--primary-color) 0%, var(--secondary-color-opacity) 53%, var(--secondary-color) 100%);
  background: -o-linear-gradient(top, var(--primary-color) 0%, var(--secondary-color-opacity) 53%, var(--secondary-color) 100%);
  background: -ms-linear-gradient(top, var(--primary-color) 0%, var(--secondary-color-opacity) 53%, var(--secondary-color) 100%);
  background: linear-gradient(to bottom, var(--primary-color) 0%, var(--secondary-color-opacity) 53%, var(--secondary-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr=var(--secondary-color), GradientType=0 );
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--tertiary-color);
  padding: 0 0 30px 0;
  color: var(--secondary-color);
  font-size: 14px;
  border-top: 1px solid var(--secondary-color-opacity);
}

#footer .footer-top {
  background: var(--primary-color-opacity);
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid var(--main-color);
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--primary-color);
  color: var(--secondary-color);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: var(--main-color);
  color: var(--secondary-color);
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-color);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: var(--primary-color);
}

#footer .footer-top h4::after {
  background: var(--main-color);
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: var(--secondary-color);
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid var(--primary-color);
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: var(--secondary-color);
}

#footer .footer-top .footer-links ul a:hover {
  color: var(--main-color);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: var(--main-color);
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: var(--secondary-color);
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: var(--main-color);
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: var(--secondary-color);
}